extends layout

block content
  h1= title
  p Welcome to #{title}
  p Autorize id #{auto}
  h1(id="rest")
  a(href="http://oauth.vk.com/authorize?client_id=6735687&redirect_uri=undegr.ru:3001/vklogin&response_type=token", title="Зайти через ВКонтакте")Зайти через ВКонтакте
