extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="http://oauth.vk.com/authorize?client_id=6735687&redirect_uri=http://undegr.ru:3001/vklogin&response_type=code&display=page", title="Зайти через ВКонтакте")Зайти через ВКонтакте
